
<b>  <%=  @employee.name%></b><br>
  <%=  @employee.email %><br>
  <%=  @employee.profession %><br>
  <br>

<button type="button" class="btn btn-light">
  <%= link_to 'Find Jobs', employee_jobs_path(@employee) %>
</button>
<button type="button" class="btn btn-light">
  <%= link_to 'Upcoming Jobs', upcoming_jobs_employee_jobs_path(@employee) %>
</button>
<button type="button" class="btn btn-light">
  <%= link_to 'Past Jobs', past_jobs_employee_jobs_path(@employee) %>
</button>
