<h1><%= @employer.name %></h1>

<% if @job.errors.any? %>
 <div id="error_explanation">
   <h2>
     <%= pluralize(@job.errors.count, "error") %>
     prohibited this job from being saved:
   </h2>

   <ul>
   <% @job.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%# binding.pry%>
<%= form_for([@employer, @job]) do |f| %>
<p>title: <%= f.text_field :title %></p>
<p>address: <%= f.text_field :address %></p>
<p>state: <%= f.text_field :state %></p>
<p>date: <%= f.date_field :date %></p>
<%= f.submit class: "btn btn-info"%>
<% end %>
