
<h1><%= @job.title %> For <%= @job.employer.name %></h1>
<p> <b><%= @job.address %></b></p>
<p> <b><%= @job.state %></b></p>
<p><%= display_date(@job.date) %></p>

 <% if @employee %>
  <%= form_tag(delete_employee_job_path(employee_id: @employee.id, job_id: @job.id), method: :delete) do %>
        <div><%= submit_tag 'Click Me if job is Done',class: "btn btn-info" %></div>
  <% end %><br>
  <%= link_to 'Go to jobs',   employee_jobs_path(@employee), class: "btn btn-info" %>
  <%= link_to "take job ", take_job_path(@employee, @job) , method: "post" ,class: "btn btn-info"%>
<% elsif @employer %>
  <%= link_to 'Create Another Job', new_employer_job_path(@employer), class: "btn btn-info" %>
  <%= link_to "Other Jobs Created" ,  my_created_jobs_employer_jobs_path(@employer), class: "btn btn-info"%>
<% end %>
