<h1>Please sign up</h1>

<% if @employer.errors.any? %>
 <div id="error_explanation">
   <h2>
     <%= pluralize(@employer.errors.count, "error") %>
     prohibited this employer from being saved:
   </h2>

   <ul>
   <% @employer.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%= form_for(@employer) do |f|%>
  <p> name: <%= f.text_field :name %></p>
  <p> email: <%= f.text_field :email %></p>
  <p> password: <%= f.password_field :password  %></p>
  <%= f.submit class: "btn btn-info"%>
<% end %>
<br>
<button type="button" class="btn btn-light">
  <a href='/auth/github'> or sign up with Github!</a>
</button >
