<h1><%= @employer.name %></h1>
<p><%= @employer.email %></p>
<%= @employer.id %><br>

<%= link_to 'Create a Job', new_employer_job_path(@employer), class: "btn btn-info" %>
<!-- # new_employer_jobs_path to = employer/:id/jobs -->
  <%= link_to "Your Created Jobs" ,  my_created_jobs_employer_jobs_path(@employer), class: "btn btn-info"%>
